<%- include('templates/header') %>
    <main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2><%= locals.title %></h2>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Hero End -->
   
    <!-- Featured_job_start -->
    <section class="featured-job-area section-padding30 section-bg2" >
        <div class="container">
           
            <div class="row justify-content-center filup">
                <div class="col-md-12">
                    <div class="card" style="border: none;">
                         <P data-animation="fadeInUp" data-delay=".8s">KARPEARL MEDICAL FOUNDATION, we’re dedicated to transforming the lives of Africa’s most vulnerable populations- children, individuals living with HIV/AIDS, and rural communities. Your support can help us:</P>
                         <p>*Bring hope to those affected by HIV/AIDS through treatment, care, and support<br>
                            * Bridge the healthcare gap in rural areas, ensuring access to quality medical services<br>
                            * Nurture the potential of orphaned and vulnerable children<br>
                            * Foster a culture of health, education, and community empowerment</p>
                          <p>Every donation, big or small, brings us closer to a brighter future for Africa’s most vulnerable. Join us in our mission to heal, empower, and uplift. Together, we can make a lasting impact!”
                            How you can help power mission: Donate:  Every donation counts, and your support will make a tangible difference in the lives of those we serve. Join us in mission to improve health outcomes and empower communities.<br>
                             Thank you for supporting our mission</p>

                    </div>
                        
                </div>
             <div class="col-md-12">
                <div id="msg"></div>

                 <div class="card " style="border: none; margin-bottom: 4%;">
                   <div class="section-tittle text-center mb-20">
                          
                            <h3> Kindly Fill Up this form to Support Us. </h3>
                     </div>
                   <div class="card-body" >
                    <div id="msg"></div>
                    <form action="" id="donation_form">

                       <div class="form_div" >
                           <input type="text" class="form-control text_input" name="" id="name" placeholder=" First Name" >
                       </div>


                       <div class="form_div" >
                           <input type="text" class="form-control text_input" name="" id="address" placeholder="Address" >
                       </div>

                       <div class="form_div" >
                           <input type="text" class="form-control text_input" name="" id="city" placeholder="City" >
                       </div>

                       <div class="form_div" >
                           <input type="text" class="form-control text_input" name="" id="country" placeholder="Country" >
                       </div>
                       
                       <div class="form_div" >
                           <input type="text" class="form-control text_input" name="" id="phone_number" placeholder="Phone Number" >
                       </div>
                       <div class="form_div" >
                           <input type="text" class="form-control text_input" name="" id="email" placeholder="Email" >
                       </div>
                        <div class="form_div" >
                           <input type="text" class="form-control text_input" name="" id="amount" placeholder="Amount you would like to donate (e.g: $10)" >
                       </div>
                       <div class="form_div" style="margin-bottom:4%" >
                           <button type="submit" class="btn btn-primary" style="width:40%">Submit</button>
                       </div>
                    </form>
                   
                </div>
              </div> 

             </div>
                <div class="container">
                        <p>Donate through the following platforms </p><br>
                        <div >
                            <button class="btn btn-primary" style="background-color: rgb(23, 23, 25);" >paypal</button>
                        </div>

                        <div class="section-title" style="margin-top:4%;">
                            <h3> AFRICA DONATION</h3>
      
                        </div>
                        <div >
                            <p><span><b>Polaris Bank:</b> 409123008,Karpearl</span></p>
                            <p><span><b>FCMB:</b>2753855017,Karpearl</span></p>
                        </div>
                    </div>
              
               
            </div>
        </div>
    </section>
    <!-- Featured_job_end -->
    </main>
  <%- include('templates/footer') %>