  <%- include('templates/header') %>
    <main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2><%= locals.title %> </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Our Cases Start -->
    <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row" id="upcomingContainer">
                
             </div>   
             
             <!-- Pagination -->
                <div id="pagination">
                    <button id="prevBtn">Prev</button>
                    <span id="pageInfo"></span>
                    <button id="nextBtn">Next</button>
                </div>
              <!-- ens of pagination-->
        </div>
    </div>
    <!-- Our Cases End -->
    </main>
   
   <%- include('templates/footer') %>